@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: sizes.$spacing-3;

    .card-content-container {
        .contact-info {
            display: flex;
            flex-direction: column;

            .contact-value {
                /* color: colors.$primary; */
                text-decoration: none;

                /* &:hover {
                    color: colors.$secondary;
                } */
            }
        }
    }
}