@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

.contacts-container {
    margin: 0 sizes.$spacing-8;

    .contacts-grid {
        display: flex;
        flex-direction: row;
        gap: sizes.$spacing-6;
        margin-top: sizes.$spacing-8;
        justify-content: center;

        .contact-card {
            flex: 1;
        }
    }
}

@include bps.tablet-down {
    .contacts-container {
        .contacts-grid {
            flex-direction: column;
            gap: sizes.$spacing-4;

            .contact-card {
                align-self: stretch;
            }
        }
    }
}