@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;

.project-card {
    align-self: stretch;

    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: sizes.$spacing-2;

        .project-image {
            width: 80px;
            height: 80px;
            border-radius: sizes.$spacing-4;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .project-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            flex: 1;
        }

        .project-title {
            text-align: left;
            font-size: sizes.$spacing-6;
            margin: 0;
        }

        .project-link {
            font-size: sizes.$spacing-5;
            color: colors.$primary;
            text-decoration: none;
        }
    }

    .card-content {
        .project-description {
            text-align: left;
        }

        .technology-list {
            display: flex;
            flex-direction: row;
            gap: sizes.$spacing-2;
            flex-wrap: wrap;
            text-wrap-mode: nowrap;
        }
    }
}