@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

.experience-container {
    width: 100%;
    box-sizing: border-box;
    .experience-card {
        padding: sizes.$spacing-4 !important;
    }
}