@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

.card-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow: hidden;

    padding: sizes.$spacing-6;
    gap: sizes.$spacing-3;

    border: 1px solid #ffffff1f;
    border-radius: sizes.$spacing-4;

    background-color: #0a122c8c;

    backdrop-filter: blur(28px);

    transition:
        transform .3s ease-in,
        box-shadow .3s ease-in;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 sizes.$spacing-5 sizes.$spacing-10 #00000026;
    }

    .card-title {
        color: colors.$light-purple;
        align-self: flex-start;
        font-size: sizes.$spacing-3;
    }

    .text-content {
        color: radial-gradient(circle at 50% 55%,
                colors.$primary,
                colors.$navy-900 75%);
    }
}

@include bps.tablet-down {
    .card-container {
        width: unset;
    }
}