@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

.card-container {
    width: 100%;
    margin: sizes.$spacing-6;
    border: sizes.$spacing-1_5 solid colors.$navy-800;
    border-radius: sizes.$spacing-8;
    align-self: center;
    padding: sizes.$spacing-6 sizes.$spacing-6;
    display: flex;
    flex-direction: column;
    gap: sizes.$spacing-1;
    max-width: 800px;
    background-color: colors.$navy-850;
    opacity: 85%;

    &:hover {
        transition: filter 200ms;
        filter: drop-shadow(0 0 sizes.$spacing-2 colors.$secondary);
    }

    :focus,
    :focus-visible {
        outline: sizes.$spacing-0 auto -webkit-focus-ring-color;
    }

    .text-content {
        color: radial-gradient(circle at 50% 55%,
                colors.$primary,
                colors.$navy-900 75%);
    }
}

@include bps.tablet-down {
    .card-container {
        width: unset;
    }
}