@use "@goncalo2k/g2k-styles/breakpoints" as bps;

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .experience-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}



@include bps.tablet-down {
    .card-header {
        flex-direction: column;
    }
}