@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: sizes.$spacing-2;


    .position-title {
        text-align: left;
        font-size: sizes.$spacing-6;
    }

    .experience-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
        justify-content: space-between;
    }

    .duration-location-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5em;
        justify-content: space-between;
    }

    .company-name,
    .company-location {
        font-size: sizes.$spacing-5;
    }
}

.card-content {
    .description {
        text-align: left;

        .responsibility-list {
            padding-left: sizes.$spacing-4;
        }

    }

    .technology-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: sizes.$spacing-2;

        .technology-list {
            display: flex;
            flex-direction: row;
            gap: sizes.$spacing-2;
            flex-wrap: wrap;
        }
    }
}