@media (max-width: 640px) {
    .label {
        display: none !important;
    }
}

.header-container {
    padding-left: var(--radius-md);
    padding-right: var(--radius-md);
    padding-top: var(--radius-xl);
    padding-bottom: var(--radius-xl);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-background-3);
}

.left-container {
    display: flex;
    flex-direction: row;
    gap: var(--radius-md);
    padding: var(--radius-xs);
    align-items: center;
}

.left-container:hover {
    cursor: pointer;
}

.label,
.icon {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.user-label {
    padding: var(--radius-xs);
}

.right-container,
.contributors-button-container {
    display: flex;
    flex-direction: row;
    gap: var(--radius-md);
    padding: var(--radius-sm);
    align-items: center;
}

.contributors-button-container {
    height: 100%;
}

.avatar {
    width: 32px;
    width: 32px;
    border-radius: var(--radius-sm);
}