@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

@include bps.tablet-down {
    .label {
        display: none !important;
    }
}

.header-container {
    position: sticky;
    top: 0;
    z-index: 99;
    justify-self: center;
    padding: sizes.$spacing-2 sizes.$spacing-6;
    margin: sizes.$spacing-6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: sizes.$spacing-4;
    border: 1px solid colors.$navy-800;
    border-radius: sizes.$spacing-4;
    background-color: colors.$navy-850;
    opacity: 75%;

    .label {
        color: colors.$gray-200;
    }
}