@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

.welcome-container {
    display: flex;
    flex-direction: column;
    gap: sizes.$spacing-12;
    align-items: center;
    min-height: 95vh;

    margin-top: sizes.$spacing-4;

    .name-label {
        background: radial-gradient(circle at 50% 55%,
                colors.$secondary,
                colors.$primary 75%);
        -webkit-background-clip: text;
        background-clip: text;

        -webkit-text-fill-color: transparent;
        color: transparent;
    }

    .text {
        padding: sizes.$spacing-2 sizes.$spacing-6;
        margin: 0 sizes.$spacing-12;
    }

    .multi-button-container,
    .multi-chip-container {
        display: flex;
        flex-direction: row;
        gap: sizes.$spacing-4;
        align-self: center;
        margin-top: auto;
    }

    .bottom-container {
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
}

@include bps.tablet-down {
    .multi-button-container {
        display: none !important;
    }
}