@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

.projects-container {
    margin: 0 sizes.$spacing-8;
    max-width: calc(100vw - 64px);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .projects-grid {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}

@include bps.tablet-down {
    .projects-container {
        .projects-grid {
            flex-direction: column;
            gap: sizes.$spacing-4;
        }
    }
}