@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;

.section-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: sizes.$spacing-4;
    margin-bottom: sizes.$spacing-8;
    word-break: break-word;

    .section-title-icon {
        width: sizes.$spacing-14;
        height: sizes.$spacing-14;
    }

    .title-text-container {
        display: flex;
        flex-direction: column;

        .section-title {
            font-size: sizes.$spacing-14;
        }

        .section-sub-title {
            padding: 0.5rem 1.5rem;
            margin: 0 3rem;
        }
    }
}