@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

#root {
	text-align: center;
	width: 100%;
	max-width: 100vw;
}

.content-container {
	display: flex;
	flex-direction: column;
	gap: sizes.$spacing-18;
	padding: sizes.$spacing-12;
}

@include bps.tablet-down {
	.content-container {
		gap: sizes.$spacing-10;
		padding: sizes.$spacing-3;
	}
}