@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;

#root {
	text-align: center;
	width: 100%;
}
.content-container {
	display: flex;
	flex-direction: column;
	gap: sizes.$spacing-18;
}