@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;
@use "@goncalo2k/g2k-styles/breakpoints" as bps;

#root {
	text-align: center;
	width: 100%;
}
.content-container {
	display: flex;
	flex-direction: column;
	gap: sizes.$spacing-18;
}

@include bps.tablet-down {
	.content-container {
		gap: sizes.$spacing-4;
	}
}