@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, .link {
  font-weight: 500;
  color: colors.$primary;
  text-decoration: inherit;
  will-change: filter;
	transition: filter 300ms;
}

a:hover, .link:hover{
  color: colors.$secondary;
  filter: drop-shadow(0 0 sizes.$spacing-2 colors.$secondary);
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: sizes.$spacing-2;
  border: 1px solid transparent;
  padding: sizes.$spacing-2 sizes.$spacing-2;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(135deg,
      colors.$primary,
      colors.$secondary );
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: colors.$primary;
}

button:focus,
button:focus-visible {
  outline: sizes.$spacing-1 auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: colors.$gray-200;
    background: radial-gradient(circle at 50% 55%,
        colors.$navy-850,
        colors.$navy-900 75%);
    background-color: colors.$white;
  }

  button {
    background-color: colors.$gray-100;
  }
}