@use "@goncalo2k/g2k-styles/colors" as colors;
@use "@goncalo2k/g2k-styles/sizes" as sizes;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  font-weight: 500;
  color: colors.$primary;
  text-decoration: inherit;
  will-change: filter;
  transition: filter 300ms;
}

.link:hover {
  color: colors.$secondary;
  filter: drop-shadow(0 0 sizes.$spacing-2 colors.$secondary);
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

.title {
  font-size: 72px;
  line-height: 1.1;
}

.sub-title {
  font-size: 30px;
  line-height: 1.1;
}

.text {
  font-size: 20px;
  line-height: 1;

  &.secondary {
    font-weight: lighter;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: colors.$gray-200;
    background: radial-gradient(circle at 50% 55%,
        colors.$primary,
        colors.$navy-900 75%);
    background-color: colors.$white;

    @keyframes gradient {

      0%,
      100% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 50% 0%;
      }
    }

    @keyframes glow-pulse {

      0%,
      100% {
        filter: none;
      }

      50% {
        filter: drop-shadow(0 0 sizes.$spacing-2 colors.$primary);
      }
    }

    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
  }
}